[Unit]
Description=Capture packets for NN IDS training
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/local/bin/nn_ids_capture.py

[Install]
WantedBy=multi-user.target
