[Unit]
Description=Check NN IDS integrity and restore if wiped

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
