[Unit]
Description=Download datasets and train NN IDS
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup_nn_ids.sh

[Install]
WantedBy=multi-user.target
